.demo ul{
    padding: 20px 0 30px 10px;
    overflow: hidden;
    zoom:1;
}
.demo ul li{
    padding-bottom: 10px;
    font-size: 12px;
}
.demo .demo-list{
	width: 100%;
	padding: 0 0 30px 10px;
	display: flex;
	justify-content:space-between;
	flex-flow: wrap;
	font-size: 0;
}
.demo .demo-item{
	display: inline-block;
	box-sizing: border-box;
	margin-top: 20px;
    margin-right: 2%;
    width: 31%;
    height: 240px;
    text-align: center;
    text-decoration: none;
    color: #333;
}
.demo .demo-item a{
	display: block;
   	background-color: pink;
    width: 100%;
    height: 210px;
    text-align: center;
    text-decoration: none;
    color: #333;
    position: relative;
   	overflow: hidden;
}
.demo .demo-item a img{
	width: 100%;
	height: 210px;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.demo .demo-item a i{
	font-style: normal;
	display: block;
	position: absolute;
	bottom: -30px;
	width: 100%;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	color: #839ccf;
	background-color: #3B5998;
}
.demo .demo-item h4{
	width: 100%;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}